@import "tailwindcss";

@import 'mapbox-gl/dist/mapbox-gl.css';


 

@layer utilities {
  .animate-in {
    animation: fadeIn 0.2s ease-in;
  }

  .slide-in-from-top-2 {
    animation: slideDown 0.2s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-8px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  user-select: none;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* adjust thickness */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent; /* fully transparent */
  border-radius: 10px;
}
/* Only visible when scrolling */
*::-webkit-scrollbar {
  display: none;
}
